- if user_signed_in?
  = render "shared/headerLogin"
- else
  = render "shared/header"
.top-banner
.pickup-cont
  .pickup-cont__thema ピックアップカテゴリー
  .pickup-cont__item
    .pickup-cont__item__subtext レディース 新着アイテム
    .pickup-cont__item__flame
      - @items.each do |item|
        .pickup-cont__item__flame__box
          = link_to item_path(item.id) do
            .pickup-cont__item__flame__box__size
              = image_tag item.image.image1.url, alt: item.name, class: "pickup-cont__item__flame__box__size"
              - if Item.find(item.id).trade.trade_status == "sold_out"
                .sout
                .tx sold
            .pickup-cont__item__flame__box__body
              .pickup-cont__item__flame__box__body__name
                = item.name.truncate(25)
              .pickup-cont__item__flame__box__body__num
                .pickup-cont__item__flame__box__body__num__val
                  = converting_to_jpy(item.price)
                .pickup-cont__item__flame__box__body__num__tax (税込)
      .pickup-cont__item__flame__linktext すべての商品をみる
  .pickup-cont__item
    .pickup-cont__item__subtext メンズ 新着アイテム
    .pickup-cont__item__flame
      - @items.each do |item|
        .pickup-cont__item__flame__box
          = link_to item_path(item.id) do
            .pickup-cont__item__flame__box__size
              = image_tag item.image.image1.url, alt: item.name, class: "pickup-cont__item__flame__box__size"
              - if Item.find(item.id).trade.trade_status == "sold_out"
                .sout
                .tx sold
            .pickup-cont__item__flame__box__body
              .pickup-cont__item__flame__box__body__name
                = item.name.truncate(25)
              .pickup-cont__item__flame__box__body__num
                .pickup-cont__item__flame__box__body__num__val
                  = converting_to_jpy(item.price)
                .pickup-cont__item__flame__box__body__num__tax (税込)
      .pickup-cont__item__flame__linktext すべての商品をみる
  .pickup-cont__thema ピックアップブランド
  .pickup-cont__item
    .pickup-cont__item__subtext シュプリーム 新着アイテム
    .pickup-cont__item__flame
      - @items.each do |item|
        .pickup-cont__item__flame__box
          = link_to item_path(item.id) do
            .pickup-cont__item__flame__box__size
              = image_tag item.image.image1.url, alt: item.name, class: "pickup-cont__item__flame__box__size"
              - if Item.find(item.id).trade.trade_status == "sold_out"
                .sout
                .tx sold
            .pickup-cont__item__flame__box__body
              .pickup-cont__item__flame__box__body__name
                = item.name.truncate(25)
              .pickup-cont__item__flame__box__body__num
                .pickup-cont__item__flame__box__body__num__val
                  = converting_to_jpy(item.price)
                .pickup-cont__item__flame__box__body__num__tax (税込)
      .pickup-cont__item__flame__linktext すべての商品をみる
  .pickup-cont__item
    .pickup-cont__item__subtext ヴィトン 新着アイテム
    .pickup-cont__item__flame
      - @items.each do |item|
        .pickup-cont__item__flame__box
          = link_to item_path(item.id) do
            .pickup-cont__item__flame__box__size
              = image_tag item.image.image1.url, alt: item.name, class: "pickup-cont__item__flame__box__size"
              - if Item.find(item.id).trade.trade_status == "sold_out"
                .sout
                .tx sold
            .pickup-cont__item__flame__box__body
              .pickup-cont__item__flame__box__body__name
                = item.name.truncate(25)
              .pickup-cont__item__flame__box__body__num
                .pickup-cont__item__flame__box__body__num__val
                  = converting_to_jpy(item.price)
                .pickup-cont__item__flame__box__body__num__tax (税込)
      .pickup-cont__item__flame__linktext すべての商品をみる
= render "shared/app-banner"
= render "shared/footer"
= render "shared/camera"
