.wrapper
  = render "shared/userheader"
  .trade-main
    .trade-main__container
      .trade-main__container__head
        .trade-main__container__head__text 購入を確定しますか？
      .trade-main__container__item
        .trade-main__container__item__inner
          .trade-main__container__item__inner__image
            = image_tag @item.image.image1.url, alt: "mercari",class: "product-img"
          .trade-main__container__item__inner__name
            = @item.name
          .trade-main__container__item__inner__buy-form
            .trade-main__container__item__inner__buy-form__price
              %ul
                %li.buy-price
                  = converting_to_jpy(@item.price)
                %li.shipping-fee-msg 送料込み
            .trade-main__container__item__inner__buy-form__point
              .trade-main__container__item__inner__buy-form__point__msg ポイントはありません
            .trade-main__container__item__inner__buy-form__payment
              %ul
                %li.trade-main__container__item__inner__buy-form__payment--msg 支払い金額
                %li.trade-main__container__item__inner__buy-form__payment--price
                  = converting_to_jpy(@item.price)
            .trade-main__container__item__inner__buy-form__error-text 配送先と支払い方法の入力を完了してください。
            = form_tag(action: :purchase, method: :post) do
              %script.payjp-button{"data-key" => "#{PAYJP_PUBLIC_KEY}", src: "https://checkout.pay.jp", type: "text/javascript"}
              %input{name: "pay_val", type: "hidden", value: @item.price }/
      .trade-main__container__user-info
        .trade-main__container__user-info__inner
          .trade-main__container__user-info__inner__msg 配送先
          .trade-main__container__user-info__inner__text
            〒100-0000
            %br
            東京都千代田区
            %br
            鈴木一郎
            %br
            =link_to do
              .trade-main__container__user-info__inner__text__fix 変更する >
      .trade-main__container__pay-method
        .trade-main__container__pay-method__inner
          .trade-main__container__pay-method__inner__msg 支払い方法 /
          .trade-main__container__pay-method__inner__text
            =link_to do
              .trade-main__container__pay-method__inner__text__fix 変更する >
  = render "shared/userfootter"
